/* farmer_dashboard.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url(bg.jpeg);
    margin: 0;
}

.dashboard-container {
    width: 80%;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.main-content {
    padding: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.dashboard-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.dashboard-button:hover {
    background-color: #45a049; /* Darker green */
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
